body {
    margin: auto;
    margin-top: 10px;
    width: 640px; 
    padding: 50px;
    font-family: 'Avenir', sans-serif; 
    color: #3b2fe3; 
    background-color: rgb(151, 206, 246);   
  }
  
  /* Centered Image Code */
  
  div {
  display: flex;
  justify-content: center;
  }
  
